/* Fonts */
$brand-font: Lustria;
$alt-font: Muli;

/* Font Sizes */
$title1-fontsize: 40px;
$title2-fontsize: 32px;
$title3-fontsize: 28px;
$title4-fontsize: 24px;
$title5-fontsize: 20px;
$title6-fontsize: 16px;
$content-fontsize: 16px;
$small-fontsize: 13px;

/* Colors */
$primary-color: #A7001E;
$dark-color: #1E0F1C;
$light-color: #FFFF00;
$bold-color: #9B0012;
$accent-color: #F6F6F6;
$white-color: white;
$background-color: white;


/* General */
.contact-row {
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.contact-row .col-lg-5, .col-lg-7 {
    height: auto;
}


/* Contact Info Panel */
.contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
 
    background: url(../images/backgrounds/tracks.svg);
    background-color: rgba(250, 250, 250, 0.85);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.contact-content {
    max-width: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 7%;
    padding-bottom: 7%;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    overflow: hidden;
}

.reach-us-header {
    margin-top: 40px;
    margin-bottom: 20px;
}

.phone-email {

}

.phone {
    color: $bold-color;
}

.email {
    color: $bold-color;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


/* Contact Form */
.contact-form {
    padding: 0 !important;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 2%;
    margin-right: 2%;
    border: none !important;
}

.subject-label {
    font-family: $alt-font;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: $bold-color;
    background-color: $bold-color;
}

.send-btn {
    background: $primary-color !important;
    border: 2px solid $primary-color !important;
    box-sizing: border-box;
    border-radius: 5px;
    color: $white-color !important;
    margin-right: 15px;
    font-family: $alt-font;
}


/* Media Queries */
@media (max-width: 425px) {
    .contact-content {
        overflow: scroll;
        padding-left: 3%;
        padding-right: 3%;
    }
    .contact-info {
        padding-left: 0px;
        padding-right: 0px;
    }
    .contact-row {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .phone-email {
        
    }
}

/* Request A Quote Page */
#continueBtn {
    color: $bold-color;
    font-weight: bold;
    opacity: .8;
    font-family: $alt-font;
}

#continueBtn:hover {
    cursor: pointer;
}

#further-info {

}