/* Bootstrap theme customized with Pinegrow Web Editor */
/* Vars go before the @import */
/* Import the Bootstrap files */
@import "../bootstrap_theme/bootstrap/bootstrap";


/* Fonts */
$brand-font: Lustria;
$alt-font: Muli;

/* Font Sizes */
$title1-fontsize: 40px;
$title2-fontsize: 32px;
$title3-fontsize: 28px;
$title4-fontsize: 24px;
$title5-fontsize: 20px;
$title6-fontsize: 16px;
$content-fontsize: 16px;
$small-fontsize: 13px;

/* Colors */
$primary-color: #A7001E;
$dark-color: #1E0F1C;
$light-color: #FFFF00;
$bold-color: #9B0012;
$accent-color: #F6F6F6;
$primary-accent-color: rgba(167, 0, 30, 0.02);
$white-color: white;
$background-color: #FFFFFF;


.navbar::after {
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 80px;
    top: 76px;
    width: 46.3%;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    text-align: center;
    background: $primary-color;
    content: "855-965-3725 (WOLF-PAK) | Call for your free quote today!";
    z-index: 2;
}

.collapsing {
    margin-top: 45px;
}

.show {
    margin-top: 45px;
}

@media (max-width: 992px) {

    .navbar::after {
        right: 0;
        width: 100vw;
        content: "855-965-3725 (WOLF-PAK) | Call today!";
    }
}

/*Christmas Modal */

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: $brand-font;
    font-size: $title5-fontsize;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1 !important;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }